@import "tailwindcss";

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@theme inline {
  --font-sans: var(--font-inter);
}

@theme {
  --text-xs: 12px;
  --text-xs--line-height: 16px;
  --text-xs--letter-spacing: 0.0025em;
  --text-sm: 14px;
  --text-sm--line-height: 20px;
  --text-sm--letter-spacing: 0em;
  --text-base: 16px;
  --text-base--line-height: 24px;
  --text-base--letter-spacing: 0em;
  --text-lg: 18px;
  --text-lg--line-height: 26px;
  --text-lg--letter-spacing: -0.0025em;
  --text-xl: 20px;
  --text-xl--line-height: 28px;
  --text-xl--letter-spacing: -0.005em;
  --text-2xl: 24px;
  --text-2xl--line-height: 30px;
  --text-2xl--letter-spacing: -0.00625em;
  --text-3xl: 28px;
  --text-3xl--line-height: 36px;
  --text-3xl--letter-spacing: -0.0075em;
  --text-4xl: 35px;
  --text-4xl--line-height: 40px;
  --text-4xl--letter-spacing: -0.01em;
  --text-5xl: 60px;
  --text-5xl--line-height: 60px;
  --text-5xl--letter-spacing: -0.025em;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
