@import "tailwindcss";

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@theme inline {
  --font-sans: var(--font-inter);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
