@import 'tailwindcss';

@theme {
  --font-weight-normal: 440;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
